<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body style="display: flex; justify-content: center; align-items: center;">
    <div class="card">
    <h3 class="Editing">Edit your chat: <%= chat._id %></h3>
    <p class="posting">This message is send from <%=chat.from%> to <%=chat.to%></p>
    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
        <textarea name="msg" rows="6" cols="60"><%=chat.msg%></textarea>
        <br><br>
        <button class="editclass">Edit</button>
    </form>
    </div>
</body>
</html>