<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">
    <%# ye apn ko apni property(public file like js,css) kaha se server ho rahi hai ye index.js ko batana padega %> 
</head>
<body class="index-page">
    <h1><b>All Chats!</b></h1>
    <form method="GET" action="/chats/new">
        <button>Add New</button>
    </form>
    <br>
    <% for(let chat of chats){ %>
    <div class="chat">
        <p>From : <b><%=chat.from%></b> </p>
        <div class="msg">
            <p> <%=chat.msg%> </p>
            <form method="GET" action="/chats/<%=chat._id%>/edit">
                <button>EDIT</button>
            </form>
            <form method="POST" action="/chats/<%=chat._id%>/?_method=DELETE">
                <button>DELETE</button>
            </form>
        </div>
        <p>Received by : <b><%=chat.to%></b> </p>
        <hr>
        <p><%= chat.created_at.toString().split(" ")[4] %></p>
        <p><%= chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>
    </div>
    <br><br>
<% } %>
</body>
</html>
